[Unit]
Description=Nord Wallpaper Workspace Daemon
After=graphical-session.target

[Service]
ExecStart={{ .chezmoi.homeDir }}/.local/bin/gnome-workspace-wallpaper
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
