[Unit]
Description=Lemonade Models Pull
After=lemonade-server.service
Requires=lemonade-server.service

[Service]
Type=oneshot
ExecStart=-/usr/bin/bash -c "ping -c 1 huggingface.co > /dev/null && curl -X POST http://127.0.0.1:13305/v1/pull -H 'Content-Type: application/json' -d '{\"model_name\":\"user.Mellum-2-12B-A2.5B-Thinking\",\"checkpoint\":\"JetBrains/Mellum2-12B-A2.5B-Thinking-GGUF-Q8_0:Q8_0\",\"recipe\":\"llamacpp\"}'"
ExecStart=-/usr/bin/bash -c "ping -c 1 huggingface.co > /dev/null && curl -X POST http://127.0.0.1:13305/v1/pull -H 'Content-Type: application/json' -d '{\"model_name\":\"user.Mellum-2-12B-A2.5B-Instruct\",\"checkpoint\":\"JetBrains/Mellum2-12B-A2.5B-Instruct-GGUF-Q8_0:Q8_0\",\"recipe\":\"llamacpp\"}'"
ExecStart=-/usr/bin/bash -c "ping -c 1 huggingface.co > /dev/null && curl -X POST http://127.0.0.1:13305/v1/pull -H 'Content-Type: application/json' -d '{\"model_name\":\"user.North-Mini-Code-1.0\",\"checkpoint\":\"unsloth/North-Mini-Code-1.0-GGUF:Q8_0\",\"recipe\":\"llamacpp\"}'"
ExecStart=-/usr/bin/bash -c "ping -c 1 huggingface.co > /dev/null && curl -X POST http://127.0.0.1:13305/v1/pull -H 'Content-Type: application/json' -d '{\"model_name\":\"user.Kimi-Dev-72B\",\"checkpoint\":\"unsloth/Kimi-Dev-72B-GGUF:Q4_0\",\"recipe\":\"llamacpp\"}'"
ExecStart=-/usr/bin/bash -c "ping -c 1 huggingface.co > /dev/null && curl -X POST http://127.0.0.1:13305/v1/pull -H 'Content-Type: application/json' -d '{\"model_name\":\"user.Qwen-3-Coder-Next\",\"checkpoint\":\"unsloth/Qwen3-Coder-Next-GGUF:Q4_0\",\"recipe\":\"llamacpp\"}'"
ExecStart=-/usr/bin/bash -c "ping -c 1 huggingface.co > /dev/null && curl -X POST http://127.0.0.1:13305/v1/pull -H 'Content-Type: application/json' -d '{\"model_name\":\"user.Qwen-3.6-27B\",\"checkpoint\":\"unsloth/Qwen3.6-27B-GGUF:Q8_0\",\"recipe\":\"llamacpp\"}'"
ExecStart=-/usr/bin/bash -c "ping -c 1 huggingface.co > /dev/null && curl -X POST http://127.0.0.1:13305/v1/pull -H 'Content-Type: application/json' -d '{\"model_name\":\"user.Qwen-3.6-35B-A3B\",\"checkpoint\":\"unsloth/Qwen3.6-35B-A3B-GGUF:Q8_0\",\"recipe\":\"llamacpp\"}'"
ExecStart=-/usr/bin/bash -c "ping -c 1 huggingface.co > /dev/null && curl -X POST http://127.0.0.1:13305/v1/pull -H 'Content-Type: application/json' -d '{\"model_name\":\"user.Ministral-3-14B-Instruct\",\"checkpoint\":\"unsloth/Ministral-3-14B-Instruct-2512-GGUF:Q8_0\",\"recipe\":\"llamacpp\"}'"
ExecStart=-/usr/bin/bash -c "ping -c 1 huggingface.co > /dev/null && curl -X POST http://127.0.0.1:13305/v1/pull -H 'Content-Type: application/json' -d '{\"model_name\":\"user.Ministral-3-14B-Reasoning\",\"checkpoint\":\"unsloth/unsloth/Ministral-3-14B-Reasoning-2512-GGUF:Q8_0\",\"recipe\":\"llamacpp\"}'"
ExecStart=-/usr/bin/bash -c "ping -c 1 huggingface.co > /dev/null && curl -X POST http://127.0.0.1:13305/v1/pull -H 'Content-Type: application/json' -d '{\"model_name\":\"user.Devstral-Small-2-24B-Instruct\",\"checkpoint\":\"unsloth/Devstral-Small-2-24B-Instruct-2512-GGUF:Q8_0\",\"recipe\":\"llamacpp\"}'"
ExecStart=-/usr/bin/bash -c "ping -c 1 huggingface.co > /dev/null && curl -X POST http://127.0.0.1:13305/v1/pull -H 'Content-Type: application/json' -d '{\"model_name\":\"user.Granite-4.1-30B\",\"checkpoint\":\"unsloth/granite-4.1-30b-GGUF:Q8_0\",\"recipe\":\"llamacpp\"}'"
ExecStart=-/usr/bin/bash -c "ping -c 1 huggingface.co > /dev/null && curl -X POST http://127.0.0.1:13305/v1/pull -H 'Content-Type: application/json' -d '{\"model_name\":\"user.Granite-4.1-8B\",\"checkpoint\":\"unsloth/granite-4.1-8b-GGUF:Q8_0\",\"recipe\":\"llamacpp\"}'"
ExecStart=-/usr/bin/bash -c "ping -c 1 huggingface.co > /dev/null && curl -X POST http://127.0.0.1:13305/v1/pull -H 'Content-Type: application/json' -d '{\"model_name\":\"user.Qwopus-3.5-9B-Coder\",\"checkpoint\":\"Jackrong/Qwopus3.5-9B-Coder-GGUF:Q8_0\",\"recipe\":\"llamacpp\"}'"
ExecStart=-/usr/bin/bash -c "ping -c 1 huggingface.co > /dev/null && curl -X POST http://127.0.0.1:13305/v1/pull -H 'Content-Type: application/json' -d '{\"model_name\":\"user.Qwopus-3.6-35B-A3B\",\"checkpoint\":\"Jackrong/Qwopus3.6-35B-A3B-v1-GGUF:Q8_0\",\"recipe\":\"llamacpp\"}'"
ExecStart=-/usr/bin/bash -c "ping -c 1 huggingface.co > /dev/null && curl -X POST http://127.0.0.1:13305/v1/pull -H 'Content-Type: application/json' -d '{\"model_name\":\"user.Nemotron-3-Nano-Omni-30B-A3B-Reasoning\",\"checkpoint\":\"unsloth/NVIDIA-Nemotron-3-Nano-Omni-30B-A3B-Reasoning-GGUF:Q8_0\",\"recipe\":\"llamacpp\"}'"
ExecStart=-/usr/bin/bash -c "ping -c 1 huggingface.co > /dev/null && curl -X POST http://127.0.0.1:13305/v1/pull -H 'Content-Type: application/json' -d '{\"model_name\":\"user.LFM-2.5-8B-A1.5B\",\"checkpoint\":\"unsloth/unsloth/LFM2.5-8B-A1B-GGUF:Q8_0\",\"recipe\":\"llamacpp\"}'"
ExecStart=-/usr/bin/bash -c "ping -c 1 huggingface.co > /dev/null && curl -X POST http://127.0.0.1:13305/v1/pull -H 'Content-Type: application/json' -d '{\"model_name\":\"user.Gemma-4-31B\",\"checkpoint\":\"unsloth/gemma-4-31B-it-qat-GGUF:Q8_0\",\"recipe\":\"llamacpp\"}'"
ExecStart=-/usr/bin/bash -c "ping -c 1 huggingface.co > /dev/null && curl -X POST http://127.0.0.1:13305/v1/pull -H 'Content-Type: application/json' -d '{\"model_name\":\"user.Gemma-4-26B-A4B\",\"checkpoint\":\"unsloth/gemma-4-26B-A4B-it-qat-GGUF:Q8_0\",\"recipe\":\"llamacpp\"}'"
ExecStart=-/usr/bin/bash -c "ping -c 1 huggingface.co > /dev/null && curl -X POST http://127.0.0.1:13305/v1/pull -H 'Content-Type: application/json' -d '{\"model_name\":\"user.Gemma-4-12B\",\"checkpoint\":\"unsloth/gemma-4-12B-it-qat-GGUF:Q8_0\",\"recipe\":\"llamacpp\"}'"

[Install]
WantedBy=lemonade-server.service
