#!/bin/bash

{{ template "functions.sh.tmpl" . }}

{{ if and (eq .chezmoi.os "linux") (eq .desktop "GNOME") -}}

set -euo pipefail

error_handler() {
    _log "critical" "issue during gnome extension installation"
    exit 1
}
trap 'error_handler' ERR

_log "info" "cleaning application grid..."
gsettings set org.gnome.desktop.app-folders folder-children "[]"
_log "success" "application grid is now flat and alphabetical"

_log "info" "cleaning gnome dock..."
FAVORITES="['com.mitchellh.ghostty.desktop']"
gsettings set org.gnome.shell favorite-apps "$FAVORITES"
_log "success" "dock cleaned"

_log "info" "configure theme color..."
mkdir -p "$HOME/.config/gtk-4.0"
mkdir -p "$HOME/.config/gtk-3.0"
ln -sf "$HOME/.config/gtk-4.0/gtk.css" "$HOME/.config/gtk-3.0/gtk.css"
gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'
gsettings set org.gnome.desktop.interface gtk-theme 'Adwaita'
_log "success" "theme color configured"

_log "info" "refresh fonts cache..."
fc-cache -f -v ~/.local/share/fonts/
echo ""
_log "info" "adapt fonts"
gsettings set org.gnome.desktop.wm.preferences titlebar-font 'Comfortaa Bold 12'
gsettings set org.gnome.desktop.interface font-name 'Comfortaa 12'
gsettings set org.gnome.desktop.interface document-font-name 'Geist 12'
_log "success" "fonts applied"

{{- end }}
