#!/bin/bash
#
{{- if .is_mise }}

{{ include ".chezmoitemplates/functions.tmpl" }}

_log "info" "installing mise tools..."
if ! OUTPUT=$(mise install --yes 2>&1); then
    echo "$OUTPUT"
    _error_handler "mise tools installation"
fi
_log "success" "mise executed successfully."

{{- end }}
