#!/bin/bash

{{ template "functions.sh.tmpl" . }}

{{ if and (eq .chezmoi.os "linux") (eq .desktop "GNOME") -}}

set -euo pipefail

error_handler() {
    _log "critical" "issue during gnome extension installation"
    exit 1
}
trap 'error_handler' ERR

NAME="Launch Zed"
COMMAND="zed"
BINDING="F24"
PATH_BASE="/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/"

_log "info" "create zed key binding..."
gsettings set org.gnome.settings-daemon.plugins.media-keys.custom-keybinding:${PATH_BASE} name "${NAME}"
gsettings set org.gnome.settings-daemon.plugins.media-keys.custom-keybinding:${PATH_BASE} command "${COMMAND}"
gsettings set org.gnome.settings-daemon.plugins.media-keys.custom-keybinding:${PATH_BASE} binding "${BINDING}"
CURRENT_BINDINGS=$(gsettings get org.gnome.settings-daemon.plugins.media-keys custom-keybindings)
if [[ "${CURRENT_BINDINGS}" != *"${PATH_BASE}"* ]]; then
    if [[ "${CURRENT_BINDINGS}" == "@as []" ]]; then
        NEW_BINDINGS="['${PATH_BASE}']"
    else
        NEW_BINDINGS="${CURRENT_BINDINGS%]*}, '$PATH_BASE']"
    fi
    gsettings set org.gnome.settings-daemon.plugins.media-keys custom-keybindings "${NEW_BINDINGS}"
fi
_log "info" "zed binding configured"

{{- end }}
