#!/bin/bash

{{ template "functions.sh.tmpl" . }}

{{ if and (eq .chezmoi.os "linux") (eq .desktop "GNOME") -}}

set -euo pipefail

error_handler() {
    _log "critical" "issue during gnome extension installation"
    exit 1
}
trap 'error_handler' ERR

LOGO_SOURCE="{{ .chezmoi.homeDir }}/.local/share/icons/logo-menu-custom.svg"
LOGO_DEST="/etc/gdm-assets/login-logo.svg"
NORD_BLACK="#2E3440"

sudo mkdir -p /var/lib/gdm/.config/dconf
sudo chown -R gdm:gdm /var/lib/gdm/.config
sudo mkdir -p "/etc/gdm-assets/"

_log "info" "customize login connection page..."
if [ -f "${LOGO_SOURCE}" ]; then
    _log "info" "apply logo..."
    sudo mkdir -p "/etc/gdm-assets/"
    sudo cp "${LOGO_SOURCE}" "${LOGO_DEST}"
    sudo chmod 644 "${LOGO_DEST}"
    sudo -u gdm dbus-run-session gsettings set org.gnome.login-screen logo "${LOGO_DEST}"
    echo ""
    _log "info" "logo applied"
fi

_log "info" "customize login color..."
sudo -u gdm dbus-run-session gsettings set org.gnome.desktop.background primary-color "${NORD_BLACK}"
sudo -u gdm dbus-run-session gsettings set org.gnome.desktop.background color-shading-type 'solid'
echo ""
_log "info" "color customized"

{{- end }}
