#!/bin/bash

{{ template "functions.sh.tmpl" . }}

{{ if and (eq .chezmoi.os "linux") (eq .desktop "GNOME") -}}

set -euo pipefail

error_handler() {
    _log "critical" "issue during gnome extension installation"
    exit 1
}
trap 'error_handler' ERR

_log "info" "configuring clipboard indicator..."
cat <<EOF | dconf load /org/gnome/shell/extensions/clipboard-indicator/
[/]
strip-text=true
case-sensitive-search=false
regex-search=true
disable-down-arrow=false
notify-on-copy=true
enable-keybindings=false
display-mode=0
history-size=50
cache-images=true
cache-size=5
confirm-clear=true
topbar-preview-size=10
paste-button=true
EOF
_log "success" "clipboard indicator configured \n"

_log "info" "configuring tiling shell..."
cat <<EOF | dconf load /org/gnome/shell/extensions/tilingshell/
[/]
active-screen-edges=true
edge-tiling-mode='adaptive'
enable-autotiling=true
enable-snap-assist=true
enable-window-border=true
inner-gaps=uint32 15
outer-gaps=uint32 15
window-border-width=uint32 5
window-use-custom-border-color=false
override-window-menu=true
snap-assist-sync-layout=true
top-edge-maximize=true
last-version-name-installed='17.3'
selected-layouts=[['12645543'], ['12645543'], ['12645543'], ['12645543']]
layouts-json='[{"id":"12645543","tiles":[{"x":0,"y":0,"width":1,"height":1,"groups":[]}]},{"id":"Layout 1","tiles":[{"x":0,"y":0,"width":0.22,"height":0.5,"groups":[1,2]},{"x":0,"y":0.5,"width":0.22,"height":0.5,"groups":[1,2]},{"x":0.22,"y":0,"width":0.56,"height":1,"groups":[2,3]},{"x":0.78,"y":0,"width":0.22,"height":0.5,"groups":[3,4]},{"x":0.78,"y":0.5,"width":0.22,"height":0.5,"groups":[3,4]}]},{"id":"Layout 2","tiles":[{"x":0,"y":0,"width":0.22,"height":1,"groups":[1]},{"x":0.22,"y":0,"width":0.56,"height":1,"groups":[1,2]},{"x":0.78,"y":0,"width":0.22,"height":1,"groups":[2]}]},{"id":"Layout 3","tiles":[{"x":0,"y":0,"width":0.33,"height":1,"groups":[1]},{"x":0.33,"y":0,"width":0.67,"height":1,"groups":[1]}]},{"id":"Layout 4","tiles":[{"x":0,"y":0,"width":0.67,"height":1,"groups":[1]},{"x":0.67,"y":0,"width":0.33,"height":1,"groups":[1]}]},{"id":"12604991","tiles":[{"x":0,"y":0,"width":0.3,"height":1,"groups":[1]},{"x":0.3,"y":0,"width":0.7,"height":1,"groups":[1]}]}]'
overridden-settings="{\"org.gnome.mutter.keybindings\":{\"toggle-tiled-right\":\"['<Super>Right']\",\"toggle-tiled-left\":\"['<Super>Left']\"},\"org.gnome.desktop.wm.keybindings\":{\"maximize\":\"['<Super>Up']\",\"unmaximize\":\"['<Super>Down', '<Alt>F5']\"},\"org.gnome.mutter\":{\"edge-tiling\":\"true\"}}"
EOF
_log "success" "tiling shell configured \n"

{{- end }}
