#!/bin/bash

{{ template "functions.sh.tmpl" . }}

{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.idLike "fedora")) -}}

set -euo pipefail

error_handler() {
    _log "critical" "issue during packages installation"
    exit 1
}
trap 'error_handler' ERR

REPO_FILE="/etc/yum.repos.d/_copr:copr.fedorainfracloud.org:scottames:ghostty.repo"
if [ ! -f "$REPO_FILE" ]; then
    _log "info" "adding ghostty copr repository..."
    VERSION_ID=$(rpm -E %fedora)
    curl -fsSL "https://copr.fedorainfracloud.org/coprs/scottames/ghostty/repo/fedora-${VERSION_ID}/scottames-ghostty-fedora-${VERSION_ID}.repo" | tee "$REPO_FILE" > /dev/null
    _log "info" "refreshing rpm-ostree metadata..."
    rpm-ostree refresh-md
fi

REPO_FILE="/etc/yum.repos.d/_copr:alternateved:keyd.repo"
if [ ! -f "$REPO_FILE" ]; then
    _log "info" "adding keyd copr repository..."
    VERSION_ID=$(rpm -E %fedora)
    curl -fsSL "https://copr.fedorainfracloud.org/coprs/alternateved/keyd/repo/fedora-${VERSION_ID}/alternateved-keyd-fedora-${VERSION_ID}.repo" | tee "$REPO_FILE" > /dev/null
    _log "info" "refreshing rpm-ostree metadata..."
    rpm-ostree refresh-md
fi

PACKAGES=(
    "sudo-rs"
    "git"
    "ghostty"
    "ulauncher"
    "qemu"
    "pipx"
    "keyd"
)

MISSING_PKGS=""

_log "info" "search missing package..."

ALL_KNOWN_PKGS=$(rpm-ostree status --json | jq -r '.deployments[].["requested-packages"][]' 2>/dev/null | sort -u || true)

for PKG in "${PACKAGES[@]}"; do
    if rpm -q "${PKG}" &> /dev/null || echo "${ALL_KNOWN_PKGS}" | grep -qxw "${PKG}"; then
        _log "notice" "${PKG} is already handled (installed or staged)"
    else
        _log "warning" "${PKG} is missing"
        MISSING_PKGS="${MISSING_PKGS} ${PKG}"
    fi
done

if [ -n "${MISSING_PKGS}" ]; then
    _log "info" "install packages..."
    rpm-ostree install --assumeyes --apply-live ${MISSING_PKGS}
    _log "success" "packages installed"
    _log "warning" "reboot needed: launch \"systemctl reboot\""

else
    _log "success" "all packages are already handled (installed or staged)"
fi

{{- end }}
