#!/bin/bash

{{ template "functions.sh.tmpl" . }}

{{ if and (eq .chezmoi.os "linux") (eq .desktop "GNOME") -}}

set -euo pipefail

error_handler() {
    _log "critical" "issue during gnome extension installation"
    exit 1
}
trap 'error_handler' ERR

_log "info" "apply wallpaper..."
WALLPAPER_PATH="file://{{ .chezmoi.homeDir }}/.local/share/backgrounds/wallpaper-nord.png"
gsettings set org.gnome.desktop.background picture-uri-dark "${WALLPAPER_PATH}"
gsettings set org.gnome.desktop.background picture-uri "${WALLPAPER_PATH}"
gsettings set org.gnome.desktop.background picture-options 'zoom'
_log "success" "wallpaper applied"

{{- end }}
