#!/bin/bash

{{ template "functions.sh.tmpl" . }}

{{ if and (eq .chezmoi.os "linux") (eq .desktop "GNOME") -}}

set -euo pipefail

error_handler() {
    _log "critical" "issue during gnome extension installation  \n"
    exit 1
}
trap 'error_handler' ERR

if ! command -v gext &> /dev/null; then
    _log "notice" "installing \"gext\"..."
    pipx install gnome-extensions-cli
    _log "notice" "\"gext\" installed  \n"
fi

CURRENT_STATUS=
if [ "$(gsettings get org.gnome.shell disable-user-extensions)" = "true" ]; then
    _log "notice" "enable gnome user extensions support..."
    gsettings set org.gnome.shell disable-user-extensions false
    _log "notice" "gnome user extensions support enabled  \n"
fi

EXTENSIONS=(
    "7065" # https://extensions.gnome.org/extension/7065/tiling-shell/
    "779"  # https://extensions.gnome.org/extension/779/clipboard-indicator/
    "3193" # https://extensions.gnome.org/extension/3193/blur-my-shell/
    "3843" # https://extensions.gnome.org/extension/3843/just-perfection/
    "19"   # https://extensions.gnome.org/extension/19/user-themes/
    "4269" # https://extensions.gnome.org/extension/4269/alphabetical-app-grid/
)

_log "info" "installing extensions..."
$HOME/.local/bin/gext update --install --yes "${EXTENSIONS[@]}"
_log "success" "extensions installed  \n"

_log "info" "enabling extensions..."
$HOME/.local/bin/gext enable "${EXTENSIONS[@]}"
_log "success" "extensions enabled  \n"

EXTENSIONS=(
    "615" # https://extensions.gnome.org/extension/615/appindicator-support/
)

_log "info" "disabling unwanted extensions..."
$HOME/.local/bin/gext disable "${EXTENSIONS[@]}"
_log "success" "extensions enabled  \n"

{{ else -}}

{{ end -}}
