#!/bin/bash

{{ template "functions.sh.tmpl" . }}

{{ if (and (eq .chezmoi.os "linux") (eq .desktop "GNOME")) -}}

set -euo pipefail

# --- ERROR HANDLING ---
error_handler() {
    _log "critical" "issue during wallpaper daemon activation"
    exit 1
}
trap 'error_handler' ERR

# --- EXECUTION ---
_log "info" "reloading systemd user daemon..."
systemctl --user daemon-reload

_log "info" "enabling and starting workspace wallpaper daemon..."
# Enable ensures it starts on next boot, start runs it now
systemctl --user enable gnome-workspace-wallpaper.service
systemctl --user start gnome-workspace-wallpaper.service

_log "success" "wallpaper daemon is active"

{{- end }}
