#!/bin/bash
#
{{- if .is_ssh }}

{{ include ".chezmoitemplates/functions.tmpl" }}

if test -f "{{ .chezmoi.homeDir }}/{{ .ssh.dir }}/{{ .ssh.key.name }}" || test -f "{{ .chezmoi.homeDir }}/{{ .ssh.dir }}/{{ .ssh.key.name }}.pub"; then
    _log "info" "ssh {{ .ssh.key.type }} key already exists, skipping generation."
else
    _log "info" "generating ssh {{ .ssh.key.type }} key..."
    mkdir -p "{{ .chezmoi.homeDir }}/{{ .ssh.dir }}"
    if ! OUTPUT=$(ssh-keygen -t {{ .ssh.key.type }} -f "{{ .chezmoi.homeDir }}/{{ .ssh.dir }}/{{ .ssh.key.name }}" -N "" -C "{{ .chezmoi.username }}@{{ .chezmoi.hostname }}" 2>&1); then
        echo "$OUTPUT"
        _error_handler "ssh key generation"
    fi
    chmod {{ .ssh.key.mode }} "{{ .chezmoi.homeDir }}/{{ .ssh.dir }}/{{ .ssh.key.name }}"
    _log "success" "ssh key generated successfully."
fi

{{- end }}
