{
  "$schema": "https://opencode.ai/config.json",
  "shell": "/usr/bin/bash",
  "enabled_providers": [
    "mistral",
    "openrouter",
    "zai-coding-plan",
    "umans",
    "lemonade"
  ],
  "provider": {
    "lemonade": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "Lemonade",
      "options": {
        "baseURL": "http://127.0.0.1:13305/v1",
        "apiKey": "empty"
      },
      "models": {
        "user.Devstral-Small-2-24B-Instruct-2512-Q8_0": {
          "name": "Devstral-Small-2-24B"
        }
      }
    },
    "umans": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "Umans AI",
      "options": {
        "baseURL": "https://api.code.umans.ai/v1",
        "apiKey": "{{ gopass "perso/token/umans.ai/e7564783-7052-48cf-acdf-15b53811a6e2" | trim }}"
      },
      "models": {
        "umans-kimi-k2.7": {
          "id": "umans-kimi-k2.7",
          "name": "Kimi K2.7 Code",
          "modalities": { "input": ["text", "image"], "output": ["text"] }
        },
        "umans-glm-5.2": {
          "id": "umans-glm-5.2",
          "name": "GLM 5.2",
          "modalities": { "input": ["text"], "output": ["text"] }
        }
      }
    },
    "openrouter": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "OpenRouter",
      "options": {
        "baseURL": "https://openrouter.ai/api/v1",
        "apiKey": "{{ gopass "perso/token/openrouter.ai/eb7fa3a0-eb5a-4c16-b493-0110051ae05c" | trim }}"
      },
      "models": {
        "z-ai/glm-5.2": {
          "name": "GLM 5.2"
        },
        "moonshotai/kimi-k2.7-code": {
          "name": "Kimi K2.7 Code"
        }
      }
    }
  }
}
