{
  "$schema": "https://opencode.ai/config.json",
  "shell": "/usr/bin/bash",
  "enabled_providers": [
    "anthropic",
    "openrouter",
    "poolside",
    "scaleway",
    "zai-coding-plan",
    "ollama-cloud",
    "lemonade"
  ],
  "plugin": ["./node_modules/opencode-with-claude"],
  "provider": {
    "anthropic": {
      "options": {
      "baseURL": "http://localhost:3456",
        "apiKey": "dummy"
      }
    },
    "lemonade": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "Lemonade",
      "options": {
        "baseURL": "http://127.0.0.1:13305/v1",
        "apiKey": "dummy"
      },
      "models": {
        "user.ornith-1.0-35b-Q8_0": {
          "name": "Ornith-35B"
        },
        "user.ornith-1.0-9b-Q8_0": {
          "name": "Ornith-9B"
        },
        "user.Laguna-XS-2.1-Q4_K_M": {
          "name": "Laguna-XS-2.1"
        },
        "user.Laguna-S-2.1-Q3_K_S": {
          "name": "Laguna-S-2.1"
        }
      }
    },
    "openrouter": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "OpenRouter",
      "options": {
        "baseURL": "https://openrouter.ai/api/v1",
        "apiKey": "{{ gopass "perso/token/openrouter.ai/eb7fa3a0-eb5a-4c16-b493-0110051ae05c" | trim }}"
      },
      "models": {
        "z-ai/glm-5.2": {
          "name": "GLM-5.2"
        },
        "moonshotai/kimi-k2.7-code": {
          "name": "Kimi-K2.7-Code"
        }
      }
    },
    "poolside": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "Poolside",
      "options": {
        "baseURL": "https://inference.poolside.ai/v1",
        "apiKey": "{{ gopass "perso/token/platform.poolside.ai/41ec3914-d42a-43e1-b2a5-d5c69706cb27" | trim }}"
      },
      "models": {
        "poolside/laguna-xs-2.1": {
          "name": "Laguna-XS-2.1"
        },
        "poolside/laguna-s-2.1": {
          "name": "Laguna-S-2.1"
        }
      }
    }
  }
}
