{
  "$schema": "https://opencode.ai/config.json",
  "shell": "/usr/bin/bash",
  "enabled_providers": [
    "llmgateway",
    "openai",
    "opencode",
    "lemonade"
  ],
  "provider": {
    "lemonade": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "Lemonade",
      "options": {
        "baseURL": "http://127.0.0.1:13305/v1",
        "apiKey": "empty"
      },
      "whitelist": [
        "user.Muse-Glimmer-30B-Q8_0"
      ],
      "models": {
        "user.Muse-Glimmer-30B-Q8_0": {
          "name": "muse-glimmer-30b"
        }
      }
    },
    "opencode": {
      "whitelist": [
        "muse-spark-1.3-contributor-free"
      ],
      "models": {
        "muse-spark-1.3-contributor-free": {
          "name": "muse-spark-1.3-contributor-free"
        }
      }
    },
    "openai": {
      "whitelist": [
        "gpt-5.6-luna",
        "gpt-5.6-sol",
        "gpt-5.6-terra"
      ],
      "models": {
        "gpt-5.6-luna": {
          "name": "gpt-5.6-luna"
        },
        "gpt-5.6-sol": {
          "name": "gpt-5.6-sol"
        },
        "gpt-5.6-terra": {
          "name": "gpt-5.6-terra"
        }
      }
    },
    "llmgateway": {
      "npm": "@ai-sdk/openai-compatible",
      "options": {
        "key": "{{ gopass `perso/token/devpass.llmgateway.io/8d5e203f-14bf-49c9-95ef-f28d55bee94d` | trim }}"
      },
      "whitelist": [
        "glm-5.3",
        "muse-spark-1.3-contributor",
        "muse-spark-1.3"
      ],
      "models": {
        "glm-5.3": {
          "name": "glm-5.3"
        },
        "muse-spark-1.3-contributor": {
          "name": "muse-spark-1.3-contributor"
        },
        "muse-spark-1.3": {
          "name": "muse-spark-1.3"
        }
      }
    }
  }
}
