[Desktop Entry]
Version=1.0
Name=Chromium (Work)
Exec=chromium-browser --profile-directory=Work %u
Icon={{ .chezmoi.homeDir }}/.local/share/icons/chromium.svg
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupWMClass=chromium-work
Categories=Network;WebBrowser;
StartupNotify=true
Terminal=false
X-MultipleArgs=false
Keywords=Internet;WWW;Browser;Web;Explorer;
Actions=new-window;new-blank-window;new-private-window;profilemanager;
