[chromium-distrobox]
image=quay.io/fedora/fedora:{{ .atomic_version }}
replace=true
start_now=true
entry=false
hostname="chromium-distrobox"
{{ includeTemplate "distrobox/pre-init.tmpl" -}}
additional_packages="chromium"
{{ includeTemplate "distrobox/common-hooks.tmpl" -}}
exported_bins="/usr/bin/chromium-browser"
exported_bins_path="{{ .chezmoi.homeDir }}/.local/bin"
exported_apps="{{ .chezmoi.homeDir }}/.config/distrobox/chromium-perso.desktop {{ .chezmoi.homeDir }}/.config/distrobox/chromium-work.desktop"

[zen-distrobox]
image=quay.io/fedora/fedora:{{ .atomic_version }}
replace=true
start_now=true
entry=false
hostname="zen-distrobox"
{{ includeTemplate "distrobox/pre-init.tmpl" -}}
pre_init_hooks="dnf copr enable --assumeyes myriad-sun/zen-browser"
additional_packages="zen-browser"
{{ includeTemplate "distrobox/common-hooks.tmpl" -}}
exported_apps="{{ .chezmoi.homeDir }}/.config/distrobox/zen-perso.desktop {{ .chezmoi.homeDir }}/.config/distrobox/zen-work.desktop"

[zed-distrobox]
image=quay.io/fedora/fedora:{{ .atomic_version }}
replace=true
start_now=true
entry=false
hostname="zed-distrobox"
{{ includeTemplate "distrobox/pre-init.tmpl" -}}
pre_init_hooks="if [[ ! -f /etc/yum.repos.d/terra.repo ]]; then dnf install --nogpgcheck --assumeyes --repofrompath 'terra,https://repos.fyralabs.com/terra{{ .atomic_version }}' terra-release; fi"
additional_packages="zed"
{{ includeTemplate "distrobox/common-hooks.tmpl" -}}
exported_bins="/usr/bin/zed"
exported_bins_path="{{ .chezmoi.homeDir }}/.local/bin"
exported_apps="{{ .chezmoi.homeDir }}/.config/distrobox/zed.desktop"

[steam-distrobox]
image=quay.io/fedora/fedora:{{ .atomic_version }}
replace=true
start_now=true
entry=false
hostname="steam-distrobox"
{{ includeTemplate "distrobox/pre-init.tmpl" -}}
pre_init_hooks="if [[ ! -f /etc/yum.repos.d/terra.repo ]]; then dnf install --nogpgcheck --assumeyes --repofrompath 'terra,https://repos.fyralabs.com/terra{{ .atomic_version }}' terra-release; fi"
additional_packages="lsb_release pciutils pipewire-libs gamescope mangohud steam"
{{ includeTemplate "distrobox/common-hooks.tmpl" -}}
exported_apps="{{ .chezmoi.homeDir }}/.config/distrobox/steam.desktop"

[filen-distrobox]
image=quay.io/fedora/fedora:{{ .atomic_version }}
replace=true
start_now=true
entry=false
hostname="filen-distrobox"
{{ includeTemplate "distrobox/pre-init.tmpl" -}}
pre_init_hooks="if [[ ! -f /etc/yum.repos.d/terra.repo ]]; then dnf install --nogpgcheck --assumeyes --repofrompath 'terra,https://repos.fyralabs.com/terra{{ .atomic_version }}' terra-release; fi"
{{- $filen_version := (gitHubLatestRelease "FilenCloudDienste/filen-desktop").TagName }}
{{ includeTemplate "distrobox/common-hooks.tmpl" -}}
init_hooks="curl -L https://github.com/FilenCloudDienste/filen-desktop/releases/download/{{ $filen_version }}/Filen_linux_x86_64.rpm -o /tmp/filen.rpm"
init_hooks="dnf --assumeyes install /tmp/filen.rpm"
exported_apps="{{ .chezmoi.homeDir }}/.config/distrobox/filen.desktop"

[opencode-distrobox]
image=quay.io/fedora/fedora:{{ .atomic_version }}
replace=true
start_now=true
entry=false
hostname="opencode-distrobox"
{{ includeTemplate "distrobox/pre-init.tmpl" -}}
pre_init_hooks="if [[ ! -f /etc/yum.repos.d/terra.repo ]]; then dnf install --nogpgcheck --assumeyes --repofrompath 'terra,https://repos.fyralabs.com/terra{{ .atomic_version }}' terra-release; fi"
{{- $opencode_version := (gitHubLatestRelease "anomalyco/opencode").TagName }}
{{ includeTemplate "distrobox/common-hooks.tmpl" -}}
init_hooks="curl -L https://github.com/anomalyco/opencode/releases/download/{{ $opencode_version }}/opencode-desktop-linux-x86_64.rpm -o /tmp/opencode.rpm"
init_hooks="dnf --assumeyes install /tmp/opencode.rpm"
exported_apps="{{ .chezmoi.homeDir }}/.config/distrobox/opencode.desktop"
