[Desktop Entry]
Name=Filen
Exec="/opt/Filen/@filendesktop" %U
Terminal=false
Type=Application
Icon={{ .chezmoi.homeDir }}/.local/share/icons/filen.svg
StartupWMClass=Filen
Comment=Filen Desktop Client
Categories=Utility;
