[Desktop Entry]
Version=1.0
Type=Application
Name=FreeCAD
GenericName=CAD Application
Comment=Parametric 3D CAD modeler
Exec=freecad %U
TryExec=freecad
Icon={{ .chezmoi.homeDir }}/.local/share/icons/freecad.svg
Terminal=false
StartupNotify=true
StartupWMClass=freecad
MimeType=application/x-extension-fcstd;model/stl;model/obj;model/step;model/iges;
Categories=Graphics;3DGraphics;Engineering;
Keywords=cad;3d;modeling;parametric;
