[Desktop Entry]
Version=1.0
Type=Application
Name=LibreCAD
GenericName=2D CAD Application
Comment=Free 2D CAD drawing application
Exec=librecad %U
TryExec=librecad
Icon={{ .chezmoi.homeDir }}/.local/share/icons/librecad.svg
Terminal=false
StartupNotify=true
StartupWMClass=librecad
MimeType=image/vnd.dxf;application/x-dxf;application/acad;
Categories=Graphics;2DGraphics;Engineering;
Keywords=cad;2d;drawing;dxf;
