[Desktop Entry]
Version=1.0
Name=Omnissa Horizon Client Thales
Exec=chromium-browser --app=https://emea.alcea.thalesgroup.com --class=omnissa-horizon-thales --profile-directory=OmnissaThales %u
StartupWMClass=omnissa-horizon-thales
Icon={{ .chezmoi.homeDir }}/.local/share/icons/omnissa-horizon.svg
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
Categories=Network;WebBrowser;
StartupNotify=true
Terminal=false
X-MultipleArgs=false
Keywords=Omnissa;Horizon;Thales;VDI;Remote;
