[Desktop Entry]
Name=Omnissa Horizon Client
Exec=/usr/bin/vmware-view %U
Terminal=false
Type=Application
Icon={{ .chezmoi.homeDir }}/.local/share/icons/omnissa-horizon.svg
StartupWMClass=vmware-view
Comment=Omnissa Horizon Client for remote desktop access
Categories=Network;
