[Desktop Entry]
Name=OpenCode
Exec="/opt/OpenCode/@opencode-aidesktop" %U
Terminal=false
Type=Application
Icon={{ .chezmoi.homeDir }}/.local/share/icons/opencode.svg
StartupWMClass=OpenCode
MimeType=x-scheme-handler/opencode;
Categories=Development;
