[Desktop Entry]
Version=1.0
Type=Application
Name=OrcaSlicer
GenericName=3D Printing Slicer
Comment=Bambu Lab / Prusa 3D slicer
Exec=orcaslicer %U
TryExec=orcaslicer
Icon={{ .chezmoi.homeDir }}/.local/share/icons/orcaslicer.svg
Terminal=false
StartupNotify=true
StartupWMClass=OrcaSlicer
MimeType=model/stl;model/3mf;application/x-amf;model/obj;
Categories=Graphics;3DGraphics;Engineering;
Keywords=3d;print;slicer;stl;
