[Desktop Entry]
Version=1.0
Name=Zen (Pero)
Exec=zen-browser --profile "{{ .chezmoi.homeDir }}/.zen/perso" --name zen-perso %u
Icon={{ .chezmoi.homeDir }}/.local/share/icons/zen.svg
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupWMClass=zen-perso
Categories=Network;WebBrowser;
StartupNotify=true
Terminal=false
X-MultipleArgs=false
Keywords=Internet;WWW;Browser;Web;Explorer;
Actions=new-window;new-blank-window;new-private-window;profilemanager;
