{
  "config_version": 1,
  "ctx_size": 65536,
  "disable_model_filtering": false,
  "enable_dgpu_gtt": false,
  "extra_models_dir": "/opt/lemonade/models",
  "flm": {
    "args": ""
  },
  "global_timeout": 3600,
  "host": "0.0.0.0",
  "kokoro": {
    "cpu_bin": "builtin"
  },
  "llamacpp": {
    "args": "",
    "backend": "auto",
    "cpu_bin": "builtin",
    "prefer_system": true,
    "rocm_bin": "builtin",
    "vulkan_bin": "builtin"
  },
  "log_level": "info",
  "max_loaded_models": 1,
  "models_dir": "auto",
  "no_broadcast": false,
  "no_fetch_executables": false,
  "offline": false,
  "port": 13305,
  "rocm_channel": "preview",
  "ryzenai": {
    "server_bin": "builtin"
  },
  "sdcpp": {
    "args": "",
    "backend": "auto",
    "cfg_scale": 7.0,
    "cpu_bin": "builtin",
    "height": 512,
    "rocm_bin": "builtin",
    "steps": 20,
    "vulkan_bin": "builtin",
    "width": 512
  },
  "websocket_port": "auto",
  "whispercpp": {
    "args": "",
    "backend": "auto",
    "cpu_bin": "builtin",
    "npu_bin": "builtin"
  }
}
