[Desktop Entry]
NoDisplay=true
Name[ar]=مدير الامتدادات
Name[ca]=Gestor d'extensions
Name[cs]=Správce rozšíření
Name[da]=Udvidelsesadministrering
Name[de]=Erweiterungs-Manager
Name[el]=Διαχειριστής Επεκτάσεων
Name[es]=Gestor de extensiones
Name[et]=Laiendushaldur
Name[fa]=مدیر افزونه‌ها
Name[fr]=Gestionnaire d’extensions
Name[hr]=Upravljač proširenja
Name[hu]=Kiterjesztéskezelő
Name[id_ID]=Pengelola Ekstensi
Name[it]=Gestore delle estensioni
Name[ja]=Extension Manager
Name[ko]=확장 프로그램 관리자
Name[nb]=Extension Manager
Name[nl]=Uitbreidings­beheer
Name[nn]=Utvidelsesadministrasjon
Name[oc]=Gestionari d’extensions
Name[pl]=Menedżer rozszerzeń
Name[pt]=Gestor de Extensões
Name[pt_BR]=Gerenciador de Extensões
Name[ru_RU]=Менеджер расширений
Name[sv]=Tilläggshanterare
Name[ta]=நீட்டிப்பு மேலாளர்
Name[tr]=Uzantı Yöneticisi
Name[uk]=Менеджер розширень
Name[vi_VN]=Trình quản lý tiện ích mở rộng
Name[zh_CN]=扩展管理器
Name[zh_TW]=擴充功能管理員
Name[hi]=एक्सटेंशन मैनेजर
Name[be]=Менеджэр пашырэнняў
Name[bg]=Мениджър на разширения
Name[ga]=Extension Manager
Name[fi]=Laajennusten hallinta
Name[eu]=Hedapenen kudeatzailea
Name[kk]=Кеңейту басқарушысы
Name=Extension Manager
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=extension-manager --file-forwarding com.mattjakeman.ExtensionManager @@u %U @@
Icon=com.mattjakeman.ExtensionManager
Terminal=false
Type=Application
Categories=GTK;Utility
OnlyShowIn=GNOME;
StartupNotify=true
MimeType=x-scheme-handler/gnome-extensions;
Comment[ar]=أدِر امتدادات جنوم شل
Comment[ca]=Gestiona les extensions del GNOME Shell
Comment[cs]=Správa rozšíření GNOME Shellu
Comment[da]=Administrer GNOME-udvidelser
Comment[de]=GNOME-Shell-Erweiterungen verwalten
Comment[el]=Διαχείριση επεκτάσεων του γραφικού κελύφους GNOME
Comment[es]=Gestionar extensiones de GNOME Shell
Comment[et]=Halda GNOME töölaua laiendusi
Comment[fa]=مدیریت افزونه های پوسته گنوم
Comment[fr]=Gérez les extensions du Shell GNOME
Comment[hr]=Upravljajte proširenjima GNOME ljuske
Comment[hu]=GNOME Shell kiterjesztések kezelése
Comment[id_ID]=Kelola Ekstensi Shell GNOME
Comment[it]=Gestisci le estensioni di GNOME
Comment[ja]=GNOME Shell 拡張機能を管理します
Comment[ko]=GNOME Shell 확장 프로그램 관리
Comment[nb]=Administrer GNOME Shell utvidelser
Comment[nl]=Beheer GNOME Shell-uitbreidingen
Comment[oc]=Gerir las extensions GNOME Shell
Comment[pl]=Zarządzaj rozszerzeniami powłoki GNOME
Comment[pt]=Gerir as extensões do GNOME Shell
Comment[pt_BR]=Gerencie Extensões do GNOME Shell
Comment[ru_RU]=Управление расширениями GNOME Shell
Comment[sv]=Hantera GNOME-tillägg
Comment[ta]=க்னோம் செல் நீட்டிப்புகளை நிர்வகிக்கவும்
Comment[tr]=GNOME Shell Uzantılarını yönetin
Comment[uk]=Керуйте розширеннями оболонки GNOME
Comment[vi_VN]=Quản lý Tiện ích Mở rộng Gnome Shell
Comment[zh_CN]=管理 GNOME Shell 扩展
Comment[zh_TW]=管理 GNOME Shell 擴充功能
Comment[hi]=गनोम शैल एक्सटेंशन प्रबंधित करें
Comment[be]=Кіраванне пашырэннямі абалонкі GNOME
Comment[bg]=Управление на Разширения на GNOME Shell
Comment[ga]=Bainistigh GNOME Shell Extensions
Comment[fi]=Hallitse Gnome Shell -laajenuksia
Comment[eu]=Kudeatu GNOME Shelleko hedapenak
Comment[kk]=GNOME Shell кеңейтулерін басқару
Comment=Manage GNOME Shell Extensions
Keywords[ar]=extension;manager;امتداد;مدير;شل;
Keywords[ca]=gestor;extensions;shell;
Keywords[cs]=rozšíření;správce;shell;
Keywords[da]=extension;manager;shell;
Keywords[de]=extension;manager;shell;gnome;erweiterung;verwalten;
Keywords[el]=επέκταση;διαχειριστής;γραφικό κέλυφος;
Keywords[es]=extension;manager;shell;
Keywords[et]=extension;manager;shell;laiendus;haldur;kest;töölaud;
Keywords[fa]=افزونه;مدیر;پوسته
Keywords[fr]=extension;manager;shell;
Keywords[hr]=extension;manager;shell;proširenja;upravljač;ljuska;
Keywords[hu]=extension;manager;gnome;shell;kiterjesztés;bővítmény;
Keywords[id_ID]=extension;manager;shell;
Keywords[it]=estensione;gestore;shell;
Keywords[ja]=extension;manager;shell;拡張機能;マネージャー;シェル;
Keywords[ko]=확장 프로그램;관리자;쉘;
Keywords[nb]=utvidelser;utvidelsesbehandling;utvidelseshåndtering;utvidelsesadministrering;GNOME;shell;skall;
Keywords[nl]=extension;manager;shell;uitbreiding;extensie;beheer;
Keywords[oc]=extension;gestionari;shell;
Keywords[pl]=extension;manager;shell;
Keywords[pt]=extension;manager;shell;
Keywords[pt_BR]=extension;manager;shell;extensões;gerenciador;extensão;
Keywords[ru_RU]=extension;manager;shell;менеджер;расширение;
Keywords[sv]=Tilläggshanterare;skal;
Keywords[ta]=நீட்டிப்பு; மேலாளர்; செல்;
Keywords[tr]=extension;manager;shell;uzantı;yönetici;kabuk;
Keywords[uk]=extension;manager;shell;розширення;менеджер;гном;додатки;кастомізація;налаштування;оболонка;
Keywords[zh_CN]=扩展;管理器;shell;
Keywords[zh_TW]=extension;manager;shell;擴充功能;管理員;管理器;殼層;
Keywords[hi]=विस्तार;प्रबंधक;शैल;
Keywords[be]=пашырэнне; менеджэр; абалонка;
Keywords[bg]=разширение;мениджър;обвивка;
Keywords[ga]=síneadh; bainisteoir; bhlaosc;
Keywords[fi]=extension;manager;shell;laajennus;lisäosa;
Keywords[eu]=hedapenak;hedapena;hedapen;kudeaketa;kudeatzailea;kudeatu;shell;
Keywords[kk]=extension;manager;shell;кеңейту;басқарушы;қабық;
Keywords=extension;manager;shell;
X-Flatpak=com.mattjakeman.ExtensionManager
