# config.nu

use scripts/nord.nu *
use scripts/aliases.nu *
use scripts/bat.nu *
use scripts/fzf.nu *
use scripts/mise.nu *
use scripts/paths.nu *
use scripts/starship.nu *
use scripts/vivid.nu *

$env.config = {
    show_banner: false
    color_config: (nord)
    table: {
        mode: rounded
        index_mode: always
        show_empty: true
        padding: { left: 1, right: 1 }
    }
    completions: {
            use_ls_colors: false
            external: {
                enable: true
                max_results: 100
            }
        }
    keybindings: [
        {
            name: fzf_smart_completion
            modifier: none
            keycode: tab
            mode: [emacs, vi_normal, vi_insert]
            event: {
                send: executehostcommand
                cmd: "fbin-discover"
            }
        },
        {
            name: fzf_history
            modifier: control
            keycode: char_r
            mode: [emacs, vi_insert, vi_normal]
            event: {
                send: executehostcommand
                cmd: "commandline edit --insert (history | get command | reverse | uniq | str join (char nl) | fzf --scheme=history --prompt='History> ' | decode utf-8 | str trim)"
            }
        }
    ]
}

try {
    with-env {
        FASTFETCH_CONFIG: (($nu.home-dir | path join ".config" "fastfetch" "config.jsonc") | path expand)
    } {
        ^fastfetch
    }
} catch { }
