[/]
cache-images=false
cache-only-favorites=false
cache-size=5
case-sensitive-search=false
clear-history-on-interval=false
clear-on-boot=false
confirm-clear=false
disable-down-arrow=false
display-mode=0
enable-keybindings=false
history-size=50
keep-selected-on-clear=false
move-item-first=false
next-history-clear=-1
notify-on-copy=false
notify-on-cycle=false
paste-button=false
paste-on-select=false
pinned-on-bottom=false
regex-search=true
strip-text=true
topbar-preview-size=10
