[/]
accent-color-icon=true
accessibility-menu=false
activities-button=true
background-menu=true
calendar=false
clock-menu=true
controls-manager-spacing-size=0
dash=true
dash-icon-size=48
dash-separator=true
double-super-to-appgrid=true
events-button=false
keyboard-layout=false
osd=true
osd-position=2
panel=false
panel-in-overview=true
panel-notification-icon=true
quick-settings=true
quick-settings-airplane-mode=false
quick-settings-backlight=true
quick-settings-dark-mode=false
quick-settings-do-not-disturb=false
quick-settings-night-light=false
ripple-box=false
screen-recording-indicator=false
screen-sharing-indicator=false
search=false
show-apps-button=false
startup-status=0
support-notifier-showed-version=36
support-notifier-type=0
theme=false
weather=false
window-demands-attention-focus=false
window-menu=true
window-picker-icon=false
window-preview-caption=true
window-preview-close-button=true
workspace=true
workspace-background-corner-size=0
workspace-peek=true
workspace-popup=false
workspace-switcher-should-show=true
workspace-wrap-around=true
workspaces-in-app-grid=false
world-clock=false
