[/]
custom-icon-path='/home/tdesaules/.local/share/icons/menu-logo.svg'
hide-forcequit=false
hide-icon-shadow=false
hide-warehouse=true
menu-button-extensions-app='com.mattjakeman.ExtensionManager.desktop'
menu-button-icon-image=0
menu-button-icon-size=30
menu-button-software-center='/usr/bin/bazaar'
menu-button-system-monitor='/usr/bin/missioncenter-helper'
menu-button-terminal='ptyxis --new-window'
show-activities-button=true
show-distroshelf=true
show-gamemode=true
show-lockscreen=true
show-power-option=false
show-power-options=true
symbolic-icon=false
use-custom-icon=true
