[/]
brightness-control-speed=1.0
enable-forward-back-gesture=false
horizontal-swipe-3-fingers-gesture='WORKSPACE_SWITCHING'
horizontal-swipe-4-fingers-gesture='WINDOW_SWITCHING'
pinch-3-finger-gesture='NONE'
pinch-4-finger-gesture='NONE'
