[settings]
trusted_config_paths = [
    "~/.config/mise",
    "/var/home/{{ .chezmoi.username }}/.config/mise"
]
experimental = true

[tools]
rust = "latest"
python = "latest"
pipx = "latest"
uv = "latest"
go = "latest"
node = "latest"
powershell = "latest"
kubectl = "latest"
"github:jdx/usage" = "latest"
"github:starship/starship" = "latest"
"github:nushell/nushell" = "latest"
"github:fastfetch-cli/fastfetch" = "latest"
"github:eza-community/eza" = "latest"
"github:aristocratos/btop" = "latest"
"github:jesseduffield/lazygit" = "latest"
"github:mikefarah/yq" = "latest"
"github:jqlang/jq" = "latest"
"github:sharkdp/vivid" = "latest"
"github:FiloSottile/age" = "latest"
"github:aria2/aria2" = "latest"
"github:moul/assh" = "latest"
"github:atuinsh/atuin" = "latest"
"github:sharkdp/bat" = "latest"
"github:bugzmanov/bookokrat" = "latest"
"github:Canop/broot" = "latest"
"github:tuna-f1sh/cyme" = "latest"
"github:muesli/duf" = "latest"
"github:bootandy/dust" = "latest"
"github:chojs23/ec" = "latest"
"github:dandavison/delta" = "latest"
"github:mikeleppane/envx" = "latest"
"github:sharkdp/fd" = "latest"
"github:FilenCloudDienste/filen-cli" = "latest"
"github:junegunn/fzf" = "latest"
"github:gopasspw/gopass" = "latest"
"github:orf/gping" = "latest"
"github:neovim/neovim" = "latest"
"github:sharkdp/hyperfine" = "latest"
"github:01mf02/jaq" = "latest"
"github:jordond/jolt" = "latest"
"github:derailed/k9s" = "latest"
"github:Lifailon/lazyjournal" = "latest"
"github:Adembc/lazyssh" = "latest"
"github:chmouel/lazyworktree" = "latest"
"github:oleiade/motus" = "latest"
"github:sharkdp/numbat" = "latest"
"github:dalance/procs" = "latest"
"github:kiki-ki/go-qo" = "latest"
"github:BurntSushi/ripgrep" = "latest"
"github:chmln/sd" = "latest"
"github:lusingander/stu" = "latest"
"github:go-task/task" = "latest"
"github:sxyazi/yazi" = "latest"
"github:zellij-org/zellij" = "latest"
"github:ajeetdsouza/zoxide" = "latest"
"github:universal-ctags/ctags-nightly-build" = "latest"
"github:kcl-lang/kcl" = "latest"
"github:kcl-lang/cli" = "latest"
"github:anomalyco/opencode" = "latest"
"github:oras-project/oras"  = "latest"
"github:sigstore/cosign" = "latest"
"github:cue-lang/cue" = "latest"
"pipx:llm" = "latest"
"pipx:mistral-vibe" = "latest"
"cargo:git-interactive-rebase-tool" = "latest"
