{
  "mistral": {
    "type": "api",
    "key": "{{ gopass `perso/token/console.mistral.ai/5a7acbac-bbff-40ac-8815-97606d917b5` | trim }}"
  },
  "lemonade": {
    "type": "api",
    "key": "empty"
  },
  "zai-coding-plan": {
    "type": "api",
    "key": "{{ gopass `perso/token/z.ai/debb38b6-2ef2-4d8f-9a8f-ef184df61359` | trim }}"
  },
  "openrouter": {
    "type": "api",
    "key": "{{ gopass `perso/token/openrouter.ai/d6f9ca52-d763-4622-9124-d9fda0f25212` | trim }}"
  }
}
