{
  "mistral": {
    "type": "api",
    "key": "{{ gopass `perso/token/console.mistral.ai/5a7acbac-bbff-40ac-8815-97606d917b5` | trim }}"
  },
  "lemonade": {
    "type": "api",
    "key": "empty"
  },
  "zai-coding-plan": {
    "type": "api",
    "key": "{{ gopass `perso/token/z.ai/debb38b6-2ef2-4d8f-9a8f-ef184df61359` | trim }}"
  },
  "opencode-go": {
    "type": "api",
    "key": "{{ gopass `perso/token/opencode.ai/0bdfb3c1-8b8b-418b-9141-c938b65d6778` | trim }}"
  }
}
