{
  "ollama-cloud": {
    "type": "api",
    "key": "{{ gopass `perso/token/ollama.com/787f2749-7507-45c2` | trim }}"
  },
  "lemonade": {
    "type": "api",
    "key": "empty"
  },
  "zai-coding-plan": {
    "type": "api",
    "key": "{{ gopass `perso/token/z.ai/debb38b6-2ef2-4d8f-9a8f-ef184df61359` | trim }}"
  },
  "openrouter": {
    "type": "api",
    "key": "{{ gopass `perso/token/openrouter.ai/eb7fa3a0-eb5a-4c16-b493-0110051ae05c` | trim }}"
  },
  "scaleway": {
    "type": "api",
    "key": "{{ gopass `devoteam/token/api.scaleway.ai/2bbe2d88-834b-441d-8050-53141f6fec3d` | trim }}"
  },
  "llmgateway": {
    "type": "api",
    "key": "{{ gopass `perso/token/devpass.llmgateway.io/8d5e203f-14bf-49c9-95ef-f28d55bee94d` | trim }}"
  }
}
