[Desktop Entry]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=protontricks-launch --file-forwarding com.github.Matoking.protontricks --no-term @@ %f @@
Name=Protontricks Launcher
Type=Application
Terminal=false
NoDisplay=true
Categories=Utility
Icon=com.github.Matoking.protontricks
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;
X-Flatpak=com.github.Matoking.protontricks
