[Desktop Entry]
NoDisplay=true
Name[ar]=DistroShelf
Name[de]=DistroShelf
Name[es]=DistroShelf
Name[fr]=DistroShelf
Name[hi]=DistroShelf
Name[it]=DistroShelf
Name[ja]=DistroShelf
Name[ko]=DistroShelf
Name[nl]=DistroShelf
Name[pt_BR]=DistroShelf
Name[ru]=DistroShelf
Name[vi]=DistroShelf
Name[zh_CN]=DistroShelf
Name=DistroShelf
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=distroshelf com.ranfdev.DistroShelf
Icon=com.ranfdev.DistroShelf
Terminal=false
Type=Application
Categories=Utility;
Keywords[ar]=GTK;
Keywords[de]=GTK;
Keywords[es]=GTK;
Keywords[fr]=GTK;
Keywords[hi]=GTK;
Keywords[it]=GTK;
Keywords[ja]=GTK;
Keywords[ko]=GTK;
Keywords[nl]=GTK;
Keywords[pt_BR]=GTK;
Keywords[ru]=GTK;
Keywords[vi]=GTK;
Keywords[zh_CN]=GTK;
Keywords=GTK;
StartupNotify=true
DBusActivatable=true
X-Flatpak=com.ranfdev.DistroShelf
