[Desktop Entry]
NoDisplay=true
Actions=RunInTerminal;
Categories=RemoteAccess;Network;
Comment=Self-hosted game stream host for Moonlight
Exec=/usr/bin/env systemctl start --u sunshine
Icon=dev.lizardbyte.app.Sunshine
StartupWMClass=dev.lizardbyte.app.Sunshine
Keywords=gamestream;stream;moonlight;remote play;
Name=Sunshine
Type=Application
Version=1.0

[Desktop Action RunInTerminal]
Exec=gio launch /usr/share/applications/dev.lizardbyte.app.Sunshine.terminal.desktop
Icon=application-x-executable
Name=Run in Terminal
