[Desktop Entry]
Version=1.0
Name=Gemini (Web)
Exec=chromium-browser --class=gemini-web --profile-directory=gemini --app=https://gemini.google.com
StartupWMClass=gemini-web
Icon={{ .chezmoi.homeDir }}/.local/share/icons/gemini.svg
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupWMClass=chromium-gemini
Categories=Network;WebBrowser;
StartupNotify=true
Terminal=false
X-MultipleArgs=false
Keywords=Internet;WWW;Browser;Web;Explorer;
Actions=new-window;new-blank-window;new-private-window;profilemanager;
