[Desktop Entry]
Name[ar]=ويرهاوس
Name[cs]=Sklad
Name[de]=Warehouse
Name[el]=Αποθήκη
Name[es]=Warehouse
Name[fi]=Warehouse
Name[fr]=Warehouse
Name[hi]=Warehouse
Name[hu]=Raktár
Name[it]=Warehouse
Name[ja]=Warehouse
Name[ko]=Warehouse
Name[nb_NO]=Warehouse
Name[nl]=Warehouse
Name[oc]=Entrepaus
Name[pl]=Warehouse
Name[pt_BR]=Warehouse
Name[pt]=Warehouse
Name[ru]=Warehouse
Name[sk]=Warehouse
Name[sv]=Warehouse
Name[th]=Warehouse
Name[tr]=Warehouse
Name[uk]=Warehouse
Name[vi]=Warehouse
Name[zh_Hans]=Warehouse
Name[zh_Hant]=Warehouse
Name=Warehouse
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=warehouse --file-forwarding io.github.flattool.Warehouse @@ %F @@
Icon=io.github.flattool.Warehouse
Terminal=false
Type=Application
Categories=GTK;System;Utility;
StartupNotify=true
Keywords[ar]=فلاتباك;الحزم;التطبيقات;المتحكمات;التحكمات;اللقطات;التقاطات;warehouse; flatpak;packages;apps;remotes;snapshots;
Keywords[cs]=flatpak;balíčky;aplikace;repozitáře;snímky;
Keywords[de]=flatpak;Pakete;Apps;Quellen;Snapshots;
Keywords[es]=flatpak;paquetes;aplicaciones;origenes;instantáneas;
Keywords[fi]=flatpak;paketit;sovellukset;etäsäätimet;tilannevedokset;
Keywords[fr]=flatpak;paquets;apps;applis;applications;remotes;distants;snapshots;instantanés;
Keywords[hu]=flatpak;packages;apps;remotes;snapshots;csomagok;szoftverek;alkalmazások;appok;távoli;tárolók;pillanatképek;
Keywords[id]=flatpak;paket;aplikasi;remote;snapshot;
Keywords[it]=flatpak;pacchetti;applicazioni;remotes;istantanee;
Keywords[pl]=flatpak;pakiety;aplikacje;źródła;migawki;
Keywords[sk]=flatpak;balíky;aplikácie; vzdialené repozitáre;snímky;
Keywords[sv]=flatpak;paket;program;fjärrarkiv;ögonblicksbilder;
Keywords[tr]=flatpak;packages;apps;remotes;snapshots;paketler;uygulamalar;uzaklar;anlık görüntüler;
Keywords[uk]=flatpak;packages;apps;remotes;snapshots;флатпак;пакунок;пакунки;програми;програма;додаток;додатки;застосунок;застосунки;снапшоти;сховища;віддалені;
Keywords[zh_Hant]=flatpak;軟體包;軟體;遠端倉庫;快照;
Keywords=flatpak;packages;apps;remotes;snapshots;
Comment[ar]=أدِر كل ما يتعلق بفلاتباك
Comment[cs]=Spravovat vše týkající se Flatpaku
Comment[de]=Verwalten Sie alles rund um Flatpak
Comment[el]=Διαχείριση όλων των ζητημάτων Flatpak
Comment[es]=Gestione todo lo relacionado con Flatpak
Comment[fi]=Hallitse kaikkea Flatpakissä
Comment[fr]=Gérez tout ce qui concerne Flatpak
Comment[hi]=Flatpak संबंधित सभी चीज़ों का प्रबंधन करें
Comment[hu]=Flatpak ügyek kezelése
Comment[id]=Kelola semua hal tentang Flatpak
Comment[it]=Gestisci tutti gli aspetti di Flatpak
Comment[ja]=Flatpakの全ての事柄を管理する
Comment[ko]=Flatpak을 관리하세요
Comment[nb_NO]=Behandle alt Flatpak
Comment[nl]=Beheer alles rondom Flatpak
Comment[oc]=Gerir tot çò de Flatpak
Comment[pl]=Zarządzaj wszystkim, co Flatpakowe
Comment[pt_BR]=Gerencie tudo relacionado a Flatpak
Comment[pt]=Gerir tudo o que é Flatpak
Comment[ru]=Управляйте всем, что касается Flatpak
Comment[sk]=Spravujte všetky veci v systéme Flatpak
Comment[sv]=Hantera alla dina Flatpak
Comment[th]=จัดการทุกอย่าง Flatpak
Comment[tr]=Flatpak ile ilgili her şeyi yönetin
Comment[uk]=Керуйте пакунками Flatpak
Comment[zh_Hans]=管理 Flatpak 的一切
Comment[zh_Hant]=管理所有 Flatpak
Comment=Manage all things Flatpak
X-Purism-FormFactor=Workstation;Mobile;
MimeType=application/vnd.flatpak.ref;application/vnd.flatpak;x-scheme-handler/flatpak;application/vnd.flatpak.repo
X-Flatpak=io.github.flattool.Warehouse
