[Desktop Entry]
Name[ar]=بازار
Name[be]=Bazaar
Name[bg]=Базар
Name[bs]=Bazaar
Name[cs]=Bazaar
Name[de]=Bazaar
Name[el]=Bazaar
Name[es]=Bazaar
Name[fa_IR]=بازار
Name[fr]=Bazaar
Name[ga]=Bazaar
Name[hu]=Bazár
Name[id]=Bazaar
Name[it]=Bazaar
Name[ja]=Bazaar
Name[kw]=Basar
Name[nl]=Bazaar
Name[pl]=Bazaar
Name[pt_BR]=Bazaar
Name[pt_PT]=Bazaar
Name[ru]=Bazaar
Name[tr]=Bazaar
Name[uk]=Базар
Name[vi]=Bazaar
Name[zh_CN]=Bazaar
Name[zh_TW]=Bazaar
Name=Bazaar
Comment[ar]=أضِف، أو أزل، أو حدث برمجيات فلاتباك على هذا الحاسوب
Comment[be]=Дадавайце, выдаляйце або абнаўляйце праграмы ў фармаце flatpak на гэтым камп’ютары
Comment[bg]=Добавяйте, премахвайте или обновете flatpak софтуер на този компютър
Comment[bs]=Dodajte, uklonite ili ažurirajte flatpak softver na ovom računaru
Comment[cs]=Přidávejte, odstraňujte nebo aktualizujte software z flatpaků na tomto počítači
Comment[de]=Hinzufügen, Entfernen oder Aktualisieren von Apps auf diesem Computer
Comment[el]=Προσθήκη, αφαίρεση ή ενημέρωση λογισμικού flatpak σε αυτόν τον υπολογιστή
Comment[es]=Añade, elimine o actualice programas flatpak en este ordenador
Comment[fa_IR]=افزودن، حذف یا به‌روزرسانی نرم‌افزارهای Flatpak در این رایانه
Comment[fr]=Ajoutez, désinstallez ou mettez à jour des applications flatpak
Comment[ga]=Bogearraí flatpak a chur leis, a bhaint nó a nuashonrú ar an ríomhaire seo
Comment[hu]=Flatpak alkalmazások telepítése, eltávolítása és frissítése
Comment[id]=Tambah, hapus atau perbarui aplikasi Flatpak pada komputer ini
Comment[it]=Aggiunge, rimuove o aggiorna le applicazioni flatpak su questo computer
Comment[ja]=flatpakのソフトウェアをこのコンピューターに追加、削除します
Comment[kw]=Addya, remova, po nowedhi medhelweyth flatpak yn an amontyell ma
Comment[nl]=Voeg flatpak software toe, verwijder deze of update deze op deze computer
Comment[pl]=Zarządzaj oprogramowaniem flatpak na tym komputerze
Comment[pt_BR]=Adicione, remova ou atualize flatpaks neste computador
Comment[pt_PT]=Adicionar, remover ou atualizar software flatpak neste computador
Comment[ru]=Установка, удаление или обновление Flatpak приложений на этом компьютере
Comment[tr]=Bu bilgisayara flatpak yazılımı ekle, kaldır ya da güncelle
Comment[uk]=Встановлюйте, видаляйте та оновлюйте пакунки Flatpak на Ваш компʼютер
Comment[vi]=Thêm, xóa hoặc cập nhật phần mềm Flatpak trên máy tính này
Comment[zh_CN]=添加、卸载和更新此电脑上的 Flatpak 软件
Comment[zh_TW]=新增、移除或更新此電腦上的 Flatpak 軟體
Comment=Add, remove or update flatpak software on this computer
Exec=bazaar %U
Icon=io.github.kolunmi.Bazaar
Terminal=false
Type=Application
Categories=Utility;
Keywords[ar]=GTK؛ النظام؛ مدير الحزم؛ اكتشاف؛ فلات باك؛ البرامج؛ المتجر؛
Keywords[be]=GTK;System;PackageManager;Discover;Flatpak;Software;Store;Сістэма;ПакетныМенеджар;Пакеты;Магазін;Крама;Флатпак;Праграмы;ПЗ;
Keywords[bg]=GTK;System;PackageManager;Discover;Flatpak;Software;Store;система;мениджър на пакети;откриване;софтуер;програми;
Keywords[bs]=GTK;Sistem;UpraviteljPaketa;Otkrijte;Flatpak;Softver;Prodavnica;
Keywords[cs]=GTK;Systém;SprávceBalíčků;Discover;Flatpak;Software;Obchod;
Keywords[de]=GTK;System;Paketverwaltung;Discover;Flatpak;Software;Store;
Keywords[el]=GTK;Σύστημα;Διαχειριστής πακέτων;Ανακάλυψη;Flatpak;Λογισμικό;Κατάστημα;
Keywords[es]=GTK;Sistema;GestorDePaquetes;Discover;Flatpak;Software;Store;
Keywords[fa_IR]=GTK;سیستم;مدیر بسته‌ها;کشف ;کردن;Flatpak;نرم‌افزار;فروشگاه;
Keywords[fr]=GTK;System;Système;PackageManager;Gestionnaire de paquets;Discover;Découvrir;Flatpak;Software;Logiciel;Store;Magasin;Applis;Logithèque;
Keywords[ga]=GTK;Córas;Bainisteoir Pacáistí;Faigh Amach;Flatpak;Bogearraí;Stór;
Keywords[hu]=GTK;System;PackageManager;Discover;Flatpak;Software;Store;rendszer;csomagkezelő;felfedezés;szoftver;áruház;bolt;
Keywords[id]=GTK;Sistem;PackageManager;Discover;Flatpak;Aplikasi;Toko;PerangkatLunak;PusatAplikasi;ManajerPaket;
Keywords[it]=GTK;System;PackageManager;Discover;Flatpak;Software;Store;
Keywords[kw]=GTK;System;DyghtyerFardellow;Trovya;Flatpak;Medhelweyth;Gwerthji;
Keywords[nl]=GTK;Systeem;Pakketbeheer;Ontdekken;Flatpak;Software;Winkel;
Keywords[pl]=GTK;System;PackageManager;Discover;Flatpak;Software;Store;ZarządzanieOprogramowaniem;Odkrywaj;Odkrywca;Oprogramowanie;Sklep;Bazar;Sklepzaplikacjami;AppStore;
Keywords[pt_BR]=GTK;Sistema;GerenciadorDePacotes;Discover;Flatpak;Aplicativos;Loja;
Keywords[pt_PT]=GTK;Sistema;GestorDePacotes;Discover;Flatpak;Aplicações;Loja;
Keywords[ru]=GTK;Система;УправлениеПакетами;Discover;Flatpak;Приложения;Магазин;
Keywords[tr]=GTK;System;PackageManager;Discover;Flatpak;Software;Store;Sistem;Paket Yöneticisi;Keşfet;Yazılımlar;Mağaza;Çarşı;
Keywords[uk]=GTK;System;PackageManager;Discover;Flatpak;Software;Store;Магазин;Крамниця;Флатпак;Пакунки;Програми;
Keywords[vi]=GTK;System;PackageManager;Discover;Flatpak;Software;Store;Trình quản lý gói; Khám phá; Phần mềm; Cửa hàng;
Keywords[zh_CN]=GTK;System;PackageManager;Discover;Flatpak;Software;Store;
Keywords[zh_TW]=GTK;System;PackageManager;Discover;Flatpak;Software;Store;套件管理;探索;軟體;商店;
Keywords=GTK;System;PackageManager;Discover;Flatpak;Software;Store;
StartupNotify=true
MimeType=x-scheme-handler/appstream;x-scheme-handler/flatpak;x-scheme-handler/flatpak+https;
Actions=new-window;

[Desktop Action new-window]
Name[ar]=نافذة جديدة
Name[be]=Новае акно
Name[cs]=Nové okno
Name[fr]=Nouvelle fenêtre
Name[ga]=Fuinneog Nua
Name[id]=Jendela Baru
Name[ja]=新しいウィンドウ
Name[kw]=Fenester Nowydh
Name[nl]=Nieuw Venster
Name[pl]=Nowe okno
Name[pt_BR]=Nova Janela
Name[pt_PT]=Nova Janela
Name[ru]=Новое окно
Name[tr]=Yeni Pencere
Name[zh_CN]=新窗口
Name[zh_TW]=新視窗
Name=New Window
Exec=bazaar %U
