[Desktop Entry]
Version=1.0
Name=Mistral (Web)
Exec=chromium-browser --profile-directory=mistral --app=https://chat.mistral.ai
StartupWMClass=chrome-chat.mistral.ai__-mistral
Icon={{ .chezmoi.homeDir }}/.local/share/icons/mistral.svg
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
Categories=Network;WebBrowser;
StartupNotify=true
Terminal=false
X-MultipleArgs=false
Keywords=Internet;WWW;Browser;Web;Explorer;
Actions=new-window;new-blank-window;new-private-window;profilemanager;
