[Desktop Entry]
Version=1.0
Name=OpenCode (Web)
Exec=chromium-browser --profile-directory=opencode --app=http://localhost:4096
Icon={{ .chezmoi.homeDir }}/.local/share/icons/opencode.svg
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupWMClass=chromium-open-code
Categories=Network;WebBrowser;
StartupNotify=true
Terminal=false
X-MultipleArgs=false
Keywords=Internet;WWW;Browser;Web;Explorer;
Actions=new-window;new-blank-window;new-private-window;profilemanager;
