[Desktop Entry]
Version=1.0
Name=Open WebUI (Web)
Exec=chromium-browser --class=chromium-open-webui --profile-directory=open-webui --app=http://localhost:3000
StartupWMClass=chromium-open-webui
Icon={{ .chezmoi.homeDir }}/.local/share/icons/openwebui.svg
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
Categories=Network;WebBrowser;
StartupNotify=true
Terminal=false
X-MultipleArgs=false
Keywords=Internet;WWW;Browser;Web;Explorer;
Actions=new-window;new-blank-window;new-private-window;profilemanager;
