[Desktop Entry]
NoDisplay=true
Name=Waydroid Market
Comment=Android Market Protocol Handler
Exec=waydroid app intent android.intent.action.VIEW %u
Icon=waydroid
Type=Application
Encoding=UTF-8
Terminal=false
Categories=Utility;
MimeType=x-scheme-handler/market;
X-KDE-Protocols=market;
