[Desktop Entry]
Version=1.0
Name=Z-ai (Web)
Exec=chromium-browser --profile-directory=z-ai --app=https://chat.z.ai
StartupWMClass=chrome-chat.z.ai__-z-ai
Icon={{ .chezmoi.homeDir }}/.local/share/icons/z-ai.svg
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
Categories=Network;WebBrowser;
StartupNotify=true
Terminal=false
X-MultipleArgs=false
Keywords=Internet;WWW;Browser;Web;Explorer;
Actions=new-window;new-blank-window;new-private-window;profilemanager;
