NC='\033[0m'
BOLD='\033[1m'
WHITE='\033[1;37m'
BLUE='\033[0;34m'
CYAN='\033[0;36m'
GREEN='\033[0;32m'
YELLOW='\033[1;33m'
RED='\033[0;31m'
MAGENTA='\033[0;35m'

_log() {
    local LEVEL=$1
    local MSG=$2
    local TIME=$(date +"%H:%M:%S")
    local COLOR=$NC
    local ICON="•"
    case " ${LEVEL} " in
        " debug ")    COLOR=$WHITE;   ICON="  " ;;
        " info ")     COLOR=$BLUE;    ICON="  " ;;
        " notice ")   COLOR=$CYAN;    ICON="  " ;;
        " success")   COLOR=$GREEN;   ICON="  " ;;
        " warning ")  COLOR=$YELLOW;  ICON="  " ;;
        " error ")    COLOR=$RED;     ICON="  " ;;
        " critical ") COLOR=$MAGENTA; ICON="  " ;;
    esac
    echo -e "${WHITE}[ $TIME ]${NC} ${COLOR}${BOLD}[ $LEVEL ]${NC} ${COLOR}$ICON $MSG${NC}"
}
