[Unit]
Description=Beszel Server
After=network.target

[Container]
Image=docker.io/henrygd/beszel:latest
ContainerName=beszel
Network=ai.network
PublishPort=0.0.0.0:{{ .beszel.port }}:{{ .beszel.port }}
Volume={{ .beszel.data_volume }}:/beszel_data
Environment=APP_URL=http://localhost:{{ .beszel.port }}
Environment=USER_EMAIL={{ .beszel.email }}
Environment=USER_PASSWORD={{ .beszel.password }}
Environment=AUTO_LOGIN={{ .beszel.email }}

[Install]
WantedBy=default.target
