download_dir = "{{ .chezmoi.homeDir }}/.local/share/huggingface/models"
models = [
    {
        repo = "unsloth/Muse-Glimmer-30B-GGUF"
        file = "Muse-Glimmer-30B-Q8_0.gguf"
    }
    {
        repo = "unsloth/Muse-Glimmer-30B-GGUF"
        file = "mmproj-Muse-Glimmer-30B-Q8_0.gguf"
    }
]
