download_dir = "{{ .chezmoi.homeDir }}/.local/share/huggingface/models"
models = [
    {
        repo = "bartowski/Laguna-XS-2.1-GGUF"
        file = "Laguna-XS-2.1-Q4_K_M.gguf"
    }
    {
        repo = "bartowski/Laguna-S-2.1-GGUF"
        file = "Laguna-S-2.1-Q3_K_S.gguf"
    }
]
