download_dir = "{{ .chezmoi.homeDir }}/.local/share/huggingface/models"
models = [
    {
        repo = "bartowski/Mellum2-12B-A2.5B-Instruct-GGUF"
        quantification = "Q8_0"
        name = "Mellum2-12B-A2.5B-Instruct"
    }
    {
        repo = "bartowski/Mellum2-12B-A2.5B-Thinking-GGUF"
        quantification = "Q8_0"
        name = "Mellum2-12B-A2.5B-Thinking"
    }
    {
        repo = "Jackrong/Qwopus3.5-9B-Coder-GGUF"
        quantification = "Q8_0"
        name = "Qwopus3.5-9B-Coder"
    }
    {
        repo = "Jackrong/Qwopus3.6-35B-A3B-v1-GGUF"
        quantification = "Q8_0"
        name = "Qwopus3.6-35B-A3B"
    }
    {
        repo = "unsloth/Devstral-Small-2-24B-Instruct-2512-GGUF"
        quantification = "Q8_0"
        name = "Devstral-Small-2-24B-Instruct"
    }
    {
        repo = "unsloth/Gemma-4-12B-it-qat-GGUF"
        quantification = "Q8_0"
        name = "Gemma-4-12B-IT-QAT"
    }
    {
        repo = "unsloth/Gemma-4-26B-A4B-it-qat-GGUF"
        quantification = "Q8_0"
        name = "Gemma-4-26B-A4B-IT-QAT"
    }
    {
        repo = "unsloth/Gemma-4-31B-it-qat-GGUF"
        quantification = "Q8_0"
        name = "Gemma-4-31B-IT-QAT"
    }
    {
        repo = "unsloth/GLM-4.7-Flash-GGUF"
        quantification = "Q8_0"
        name = "GLM-4.7-Flash"
    }
    {
        repo = "unsloth/granite-4.1-30b-GGUF"
        quantification = "Q8_0"
        name = "Granite-4.1-30B"
    }
    {
        repo = "unsloth/granite-4.1-8b-GGUF"
        quantification = "Q8_0"
        name = "Granite-4.1-8B"
    }
    {
        repo = "unsloth/Kimi-Dev-72B-GGUF"
        quantification = "Q4_0"
        name = "Kimi-Dev-72B"
    }
    {
        repo = "unsloth/LFM2.5-8B-A1B-GGUF"
        quantification = "Q8_0"
        name = "LFM2.5-8B-A1B"
    }
    {
        repo = "unsloth/Ministral-3-14B-Instruct-2512-GGUF"
        quantification = "Q8_0"
        name = "Ministral-3-14B-Instruct"
    }
    {
        repo = "unsloth/Ministral-3-14B-Reasoning-2512-GGUF"
        quantification = "Q8_0"
        name = "Ministral-3-14B-Reasoning"
    }
    {
        repo = "unsloth/NVIDIA-Nemotron-3-Nano-Omni-30B-A3B-Reasoning-GGUF"
        quantification = "Q8_0"
        name = "Nemotron-3-Nano-Omni-30B-A3B-Reasoning"
    }
    {
        repo = "unsloth/North-Mini-Code-1.0-GGUF"
        quantification = "Q8_0"
        name = "North-Mini-Code"
    }
    {
        repo = "unsloth/Qwen3-Coder-Next-GGUF"
        quantification = "Q4_0"
        name = "Qwen3-Coder-Next"
    }
    {
        repo = "unsloth/Qwen3.6-27B-GGUF"
        quantification = "Q8_0"
        name = "Qwen3.6-27B"
    }
    {
        repo = "unsloth/Qwen3.6-35B-A3B-GGUF"
        quantification = "Q8_0"
        name = "Qwen3.6-35B-A3B"
    }
]
